# Evita el uso de cache para asegurarnos de que prisma generate se ejecute correctamente
public-hoist-pattern[]=*prisma*
# Desactiva el usar opciones pre-bundled para evitar errores
node-linker=hoisted
